//font Color
$fontColor-primary: #000;

//Background color
$background-primary:#1ed760;
$background-primary-hover:#1aad4e;

//scroll color
$scroll-primary: #13385a;

//font family
$fontFamily-primary: "Source Sans Pro";

//font size
$fontSize-primary: 16px;
